extends ../../../views/layout

block content
  div.container-fluid
    div.row
      div.col-lg-4.col-lg-offset-4
        h1= title
        - if (messages.error)
          div.alert.alert-danger.alert-dismissable
            button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
            span= messages.error
        form(action="/login", method="post", role="form").form-group.well
          div.form-group
            label(for="username") Username:
            input(type="text", name="username", id="username").form-control
          div.form-group
            label(for="password") Password:
            input(type="password", name="password", id="password").form-control
          div.form-group
            button(type="submit").btn.btn-success Log in
